@{
    ViewData["Title"] = "About";
}


<div class="col-md-12">
    <img src="~/images/ac.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
</div>
<div class="row">

    <div class="col-md-12">
        <br />
        <center><h1 class="text-success"><strong>Nuestra historia</strong></h1></center>
        <br />
        <ul>
            <p>
                En el 2018 inicia esta historia de los postres Juanita, se inicia en El Barrio Manrique Aranjuez como un proyecto familiar para aumentar los ingresos, aparte de esto este proyecto unia la familia.
            </p>
            <p>
                Se inicia vendiendo los postres a sus familias, amigos y vecinos. Durante este tiempo los postres Juanita ya son cotizados por personas desconocidas en las redes sociales, amigos recomendados.
                Así fue creciendo este proyecto familia a una micro empresa.
            </p>
        </ul>
        <br /><br />
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <br />
        <center><h1 class="text-success"><strong>Misión</strong></h1></center>
        <br />  
        <ul>
            <p>
                Postres Juanita es una empresa dedicada a la producción y comercialización de postres que tiene como misión satisfacer las necesidades de nuestros clientes con la elaboración de un producto saludable, así mismo siendo reconocida por su calidad, variedad, innovación y economía; brindando un servicio de calidad a precios competitivos, manteniendo su confianza y contribuyendo al desarrollo de nuestra comunidad.
            </p>
        </ul>
    </div>
    <div class="col-md-6">
        <img src="~/images/pos.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-6">
        <img src="~/images/fot.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
    </div>
    <div class="col-md-6">
        <br />
        <center><h1 class="text-success"><strong>Visión</strong></h1></center>
        <br />
        <ul>
            <p>
                Ser en el 2022 la empresa líder en producción y comercialización de postres, destacándonos principalmente por brindar a la población en general deliciosos postres, en variedad de presentaciones, contribuyendo así al mejoramiento de la calidad de vida de los consumidores, mediante la elaboración de postres.
            </p>
        </ul>
    </div>

</div>