@{
    ViewData["Title"] = "Contact";
}

              <div class="row">
                <div class="col-md-8">
                    <img src="~/images/cont.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
                </div>
                <div class="col-md-4">
                    <br /><br /><br />
                                <h4>
                                    <address>
                                        Wendy Florez<br />
                                        Colombia<br />
                                        Medellin-Antioquia<br />
                                        Itagui- Calatrava<br />
                                        <abbr title="Telefono"></abbr>
                                        305-912-26-43
                                    </address>

                                    <address>
                                        <strong>Email:</strong> <a>postresjuanita8@gmail.com</a><br />
                                    </address>
                                </h4>
                </div>
            </div>
