
@{
    ViewData["Title"] = "DeleteOrder";
}

@model shop.Web.Data.Entities.Order

    <center>
        <h1 class="text-success">Cancelar Orden</h1><br />
        <br />

        <div class="row">
         
            <div class="col-md-4">
                <img src="~/images/cancelar.jpg" />
            </div>
            <br />
            <br />
            <div class="col-md-5">
                <h3>¿Estás seguro de cancelar la orden?</h3>


                <br />
                <br />

                <form asp-action="DeleteOrder">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="SI" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-danger">NO</a>
                </form>
            </div>
        </div>

</center>