@{
    ViewData["Title"] = "Confirm email";
}

    <center>
        <h1 class="text-success">Confirmación Correo electrónico</h1>
    </center>
<br />
    <div>
        <div class="row">
            <div class="col-md-6">
               <center> <img src="~/images/email.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
                </center>

            </div>
            <div class="col-md-6">
                <br /><br />
                <p>
                    Gracias por confirmar su email.
                    Apartir de este momento puedes ingresar a nuestras plataformas y proceder a realizar sus pedidos
                </p>
            </div>
               
        </div>
    </div>

