@{
    ViewData["Title"] = "NotAuthorized";
}


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <img src="~/images/auto.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center">
        </div>

        <div class="col-md-6">
            <br><br><br><br>
            <center><h1 class="text-success"><strong>¡Usuario No Registrado!</strong></h1></center>

            <br />
            <div class="text-primary">
                <p>
                    Para realizar ordenes se requiere estar registrado, esta opción se encuentra en la pestaña
                </p>
                <center>
                    <p class="text-success">
                        Login
                    </p>
                </center>
            </div>
           
               
            
            <br>
        </div>
    </div>