
@{
    ViewData["Title"] = "ProductExisting";
}


<center>
    <h1 class="text-success">El producto está asociado a una orden</h1>

</center><br />

<center>
    <div class="row">

        <div class="col-md-6">
            <img src="~/images/podructo.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
        </div>
        <div class="col-md-6">
            <br />
            <p> Si desea eliminar el producto debes eliminar las ordenes que se encuentran asociadas a el</p>
            <a asp-action="Index" class="btn btn-warninging">Volver a los productos</a>
        </div>
        </div>
</center>

